.card--container {
  position: relative;
  width: 90%;
  height: 450px;
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card {
  position: relative;
  height: auto;
  margin: 0 0 2em 0;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 0px 24px #aaaaaaaa;
  border-radius: 15px;
  cursor: pointer;
}

.gray {
  color: #7f849c;
}

.card > p {
  margin-left: 10px;
}

.img-container {
  width: 280px;
  max-width: 280px;
  height: 300px;
  overflow: hidden;
  object-fit: contain;
  display: inline-block;
  border-radius: 15px;
}

.img-container > img {
  width: 100%;
}

/* .img--sold_out { */
/*   width: 70px; */
/*   position: absolute; */
/*   padding: 2px 2px; */
/* } */

.card--stats {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.card--rating {
  font-weight: 700;
  margin-right: 5px;
}

.card--price {
  font-weight: 700;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 6px 7px;
  font-weight: 700;
  border-radius: 10px;
  background: white;
  color: #1e1e2e;
}

.img--star {
  width: 18px;
  height: auto;
  margin: 0 5px 0 10px;
}
