.navbar{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 3px 12px -2px #aaaaaaaa;
}

.navbar--logo {
    height: 60px;
    margin-left: 50px;
    cursor: pointer;
}
